.navbar {
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
}

.welcomeMsg { 
    padding-left: 5%;
    font-weight: bold;
}

.messageBlock {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}

.linkBlock {
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 5%;
}

.badge {
    font-size: 15px !important;
    padding-bottom: 10px;
    color: red;
}

.newMsg {
    font-weight: 600;
}

.oldMsg {
    font-weight: 200;
}

.msgHeader {
    text-align: left !important;
}

.linkBlock {
    padding-left: 3%;
    padding-top: 4%;
}

.msgTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.changeTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.linkTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.msgTable td {
    width: 33%;
}

.changeTable td {
    width: 25%;
}

.msgLink {
    color: #007bff;
}

.choicePanel {
    padding-top: 10%;
}

.userName {
    color: #007bff;
}

.linkWrap {
    padding-left: 7%;
    padding-right: 5%;
}

.card {
    text-align: center;
    width: 100% !important;
    margin-right: 3% !important;
    margin-top: 2%;
}

@media screen and (max-width: 600px) {
   .card {
       width: 100%;
    }
}

.card-text {
    word-break: break-all;
}

.toetsonderdelenTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.toetsonderdelenTable td {
    width: 20%;
}

.toetsonderdelenTable th {
    width: 20%;
}

.totalTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.totalTable td {
    width: 20%;
}

.totalTable th {
    width: 20%;
}

.totalBsaTable {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.totalBsaTable td {
    width: 20%;
}

.totalBsaTable th {
    width: 20%;
}

table {
    width: 100%;
}

