body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.smallScreen {
    display: none;
}

.poopButton {
    font-size: 13vh;
    color: #fff;
}


@media (max-width: 700px) {
	.bigContainer {
	  display: none;
	}

	.secondaryMenu {
		display: none;
	}

	.smallScreen {
		min-height: 100%;
		min-height: 100vh;
		display: block;
		align-items: center;
		text-align: center;
		padding-left: 3% !important;
		padding-right: 3% !important;
		margin-top:50%;
		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s; /* Firefox < 16 */
		 -ms-animation: fadein 2s; /* Internet Explorer */
		  -o-animation: fadein 2s; /* Opera < 12.1 */
			 animation: fadein 2s;
	}

	.smallScreen .row {
		padding-bottom: 3%;
	}

	.smallScreen h1 {
		font-family: 'Raleway', sans-serif;
		color: #fff;
	}

	.smallScreen h5 {
		font-family: 'Raleway', sans-serif;
		color: #fff;
	}

  }

ul {
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 1% !important;
    margin-top: 1% !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    opacity: 0.3;
    text-decoration: none !important;
    color: #fff;
}

li:hover {
    opacity: 1;
    text-decoration: none !important;
}


li a {
    color: #fff !important;
    text-decoration: none !important;
}

.textContainer {
    text-align: center;
    color: #fff;
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
}

.leftContainer {
    text-align: center;
}

.centerContainer {
    text-align: center;
}

.rightContainer {
    text-align: center;
}

.buttonDown {
    font-size: 20vh;
    color: #fff;
    text-decoration: none !important;
}

.buttonUp {
    font-size: 20vh;
    color: #fff;
    text-decoration: none;
}

.hzLogo {
    width: 50%;
    height: auto;
}

.contentTab1 {
    height: 100vh;
}

.contentTab2 {
    height: 100vh;
    display: hidden;
}
