body {
    background: rgb(28,118,170);
    background: linear-gradient(90deg, rgba(28,118,170,1) 5%, rgba(0,212,255,1) 100%); 
    overflow: hidden;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.smallScreen {
    display: none;
}

@media (max-width: 700px) {
	.bigContainer {
	  display: none;
	}

	.secondaryMenu {
		display: none;
	}

	.smallScreen {
		min-height: 100%;
		min-height: 100vh;
		display: block;
		align-items: center;
		text-align: center;
		padding-left: 3% !important;
		padding-right: 3% !important;
		margin-top:50%;
		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s; /* Firefox < 16 */
		 -ms-animation: fadein 2s; /* Internet Explorer */
		  -o-animation: fadein 2s; /* Opera < 12.1 */
			 animation: fadein 2s;
	}

	.smallScreen .row {
		padding-bottom: 3%;
	}

	.smallScreen h1 {
		font-family: 'Raleway', sans-serif;
		color: #fff;
	}

	.smallScreen h5 {
		font-family: 'Raleway', sans-serif;
		color: #fff;
	}

  }

ul {
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 1% !important;
    margin-top: 1% !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    opacity: 0.3;
    text-decoration: none !important;
    color: #fff;
}

li:hover {
    opacity: 1;
    text-decoration: none !important;
}


li a {
    color: #fff !important;
    text-decoration: none !important;
}

.profileTab {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tabDownButton1 {
	text-align: center;
	font-size: 10px;
}

.downButton {
    font-size: 13vh;
    color: #fff;
}

.upButton {
    font-size: 13vh;
    color: #fff;
}

.textContainer {
	text-align: center;
}

.resourceTableContainer {
	text-align: center;
}

.textHello {
    font-size: 30vh;
}

.textMotivation {
    font-size: 20vh;
}

.date {
	display: block;
	width: 50%;
	height: auto;
	margin: 30px auto;
	background: #fff;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: relative;
}

.date .binds {
	position: absolute;
	height: 15px;
	width: 60px;
	background: transparent;
	border: 2px solid #999;
	border-width: 0 5px;
	top: -6px;
	left: 0;
	right: 0;
	margin: auto;
}

.date .month {
	background: #555;
	display: block;
	padding: 8px 0;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #333;
	box-shadow: inset 0 -1px 0 0 #666;
	font-family: 'Raleway', sans-serif;
}

.date .day {
	display: block;
	margin: 0;
	padding: 10px 0;
	font-size: 150px;
	box-shadow: 0 0 3px #ccc;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: #000;
}

.date .day::after {
	content: '';
	display: block;
	height: 100%;
	width: 96%;
	position: absolute;
	top: 3px;
	left: 2%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

.date .day::before {
	content: '';
	display: block;
	height: 100%;
	width: 90%;
	position: absolute;
	top: 6px;
	left: 5%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

.bigTitle {
	font-size: 8vh;
}

.bigIcon {
	font-size: 12vh;
	padding-top: 5%;
}

.mediumIcon {
	font-size: 10vh;
	padding-bottom: 10px;
}

.schoolIcon {
	font-size: 9vh;
}

#map {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.gm-style-cc { display:none; }

.gm-style a[href^="https://maps.google.com/maps"] {
	display: none !important;
  }

.onlyWay {
    color: #fff;
    text-decoration: none;
}

.onlyWay:hover {
    color: #fff;
    text-decoration: none;
}

.motivationNav {
	float: right;
	padding-right: 2%;
}

.resourceTable {
	width: 100%;
}

.resourceTable th, td {
	width: 25%;
}

.resourceLink {
	color: #fff;
	text-decoration: none;
}

.resourceLink:hover {
	color: #fff;
	text-decoration: none;
}

.hboiPhotoSmall {
	margin-top: 2%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 30vh;
}

.whiteLink {
	color: #fff;
}

.whiteLink:hover {
	color: #fff;
	text-decoration: none !important;
}